html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.fondo-negro {
    background-color: #353A40;
}

.nav-item {
    white-space: nowrap;
}

.marginNav {
    margin-right: 4.5em;
    margin-left: 4.5em;
}

li {
    font-size: large;
}

nav {
    font-weight: 500;
}

footer li{
    font-size: small;
    font-weight: 500;
    text-align: center;
}

.footer-lista{
    padding-left: 10%;
    padding-right: 10%;
}

/* extra-small 1*/

@media (min-width: 300px){
    .infoCarousel{
        position: absolute;
        top: 10%;
        right: 2%;
        text-align: end;
        width: 95%;
        font-size: xx-small;
    }
}

/* extra-small 2 */

@media (min-width: 400px){
    .infoCarousel{
        top: 15%;
        right: 5%;
        width: 90%;
        font-size: xx-small;
    }
}

/* small 1 */

@media (min-width: 500px){
    .infoCarousel{
        top: 10%;
        right: 10%;
        width: 70%;
        font-size: small;
    }
}

/* small 2 */

@media (min-width: 600px){ 
    .infoCarousel{
        width: 60%;
        font-size: medium;
    }
}

/* medium */

@media (min-width: 768px){ 
    .infoCarousel{
        top: 20%;
        width: 40%;
    }
}

/* large */

@media (min-width: 992px){ 
    .infoCarousel{
        top: 40%;
        font-size: large;
    }
}

.sectionCarousel{
    position: relative;
    display: inline-block;
}

.subtitulo {
    text-align: center;
}

.fondo-azul{
    background-color: #1A3745;
}

.formulario{
    left: 20%;
}

.colorEnviarForm{
    background-color: #96C93E;
    text-decoration-style: whi;
}