html {
    font-family: 'Open Sans', sans-serif;
}

.fondo-negro {
    background-color: #353A40;
}

.nav-item {
    white-space: nowrap;
}

.marginNav {
    margin-right: 4.5em;
    margin-left: 4.5em;
}

li {
    font-size: large;
}

nav {
    font-weight: 500;
}

.infoCarousel{
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: end;
    width: 38%;
}

.sectionCarousel{
    position: relative;
}

.subtitulo {
    text-align: center;
}

.fondo-azul{
    background-color: #1A3745;
}

.formulario{
    left: 20%;
}

.colorEnviarForm{
    background-color: #96C93E;
    text-decoration-style: whi;
}